extends layout.pug

block content 
  div.container 
    h1 All applications 

    each application in applications 
      div.application-wrapper
        a.application(href=`/applications/${ application.id }`) #{ application.name }
        a.delete(href='#') Delete
        
