extends layout.pug 

block content 
  div.container 
    h1 Create application 
  
    if error 
      p.error Please, fill the required fields to proceed!

    if success 
      p.success Your application has been successfully submitted!

    form.form(action="/create" method='POST')
      label First Name 
      input.input(type="text" name="name")

      label Last name  
      input.input(type="text" name="surname")

      label E-mail  
      input.input(type="text" placeholder ="name@example.com" name="email")

      label Phone Number (Corresponding to the Telegram platform)  
      input.input(type="text" placeholder ="+9989" name="phone")

      lable Description 
      textarea.input(type="text" name="description") 

      lable CV Upload
      input.input(type='file', name='fileupload')
    
      button.btn Create application