extends layout.pug 

block content 
  div.container 
    h1 Create application 
  
    if error 
      p.error Please, fill the required fields to proceed!

    if success 
      p.success Your application has been successfully submitted!

    form.form(action="/create" method='POST')
      label First Name 
      input.input(type="text" name="name")

      label Last name  
      input.input(type="text" name="surname")

      lable Description 
      textarea.input(type="text" name="description") 

      button.btn Create application